*{
    margin: 0;
    padding: 0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, #fe2f22, #134be1)
}
.container h1, h3{
    color: white;
}